
@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


@if (TempData["MENSAJE"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["MENSAJE"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>AccesoDenegado</h1>

