@model FrontEnd_Proyecto_1.Models.UsuarioModel

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminación Cliente</h1>

<h3>¿Seguro que desea eliminar este usuario?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EliminarUsuario" asp-controller="Usuario" method="post" class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" readonly="readonly" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" readonly="readonly" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" readonly="readonly" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" readonly="readonly" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" readonly="readonly" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Volver a la lista</a>
</div>

