@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Programación Avanzada</h1>

    <h2>Universidad Americana</h2>
    <br />
    <br />
    <h2>II Cuatrimestre 2023</h2>
    <br />
    <h2>Integrantes</h2>
    <br />
    <br />
    <h3>David Josué Díaz Aguilar</h3>
    <br />
    <h3>Melissa Acosta Quiros</h3>
    <br />
    <h3>Adrian Sanchez Gutierrez</h3>
</div>
