@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align: center; width: 100%; font-family: Verdana;">
    <h1>WEB API PROYECTO</h1>
    <br />
    <h2>PROGRAMACIÓN AVANZADA</h2>
    <br />
    <h2>UNIVERSIDAD AMERICANA</h2>
    <br />
    <h2>II Cuatrimestre 2023</h2>
    <br />
    <h2>Integrantes:</h2>
    <br />
    <h3>David Josué Díaz Aguilar</h3>
    <br />
    <h3>Melissa Acosta Quiros</h3>
    <br />
    <h3>Adrian Sanchez Gutierrez</h3>
    <br />
</div>